/* ********custom properties ************ */

:root {
  --first-color: #ff7c1f;
  --first-color-alpha: rgba(255, 124, 31, 0.75);
  --second-color: #0e3854;
  --second-color-alpha: rgba(14, 56, 84, 0.75);
  --third-color: #c1e6ff;
  --third-color-alpha: rgba(193, 230, 255, 0.75);
  --glass-backgroun-color: radial-gradient(
    50% 50% at 50% 50%,
    rgba(193, 230, 255, 0.5) 0%,
    rgba(193, 230, 255, 0.2) 100%
  );
  --white-color: #ffffff;
  --grey-light-color: #bbbbbb;
  --grey-color: #808080;
  --grey-dark-color: #393939;
  --Black-color: #000000;
  --link-text-color: #067eed;
  --body-text-color: #282828;
  --title-text-color: #000000;
  --font: "Rubik", sans-serif;
  --max-width: 1200px;
  --header-width: 3rem;
  --background-body: url(./assets/img/background.jpg);
}

/* ***************** Reset ***************** */
html {
  font-family: var(--font);
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--body-text-color);
  background-image: var(--background-body);
  background-repeat: repeat;
  background-attachment: fixed;
}

a {
  color: var(--link-text-color);
  transition: all 0.3s ease;
}

a:hover {
  opacity: 0.75;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
  font-size: 2rem;
  color: var(--title-text-color);
}

h2 {
  margin: 0;
  color: var(--title-text-color);
  font-size: 1.5rem;
}

h3 {
  color: var(--title-text-color);
  margin: 0;
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
  margin: 0;
  color: var(--title-text-color);
}

h5 {
  margin: 0;
  color: var(--title-text-color);
  font-size: 0.813rem;
}

h6 {
  margin: 0;
  font-size: 0.688rem;
  color: var(--title-text-color);
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--body-text-color);
  margin: 0;
}

small {
  font-size: 0.75rem;
  color: var(--body-text-color);
  margin: 0;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.1rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    font-size: 1.4rem;
  }

  small {
    font-size: 1rem;
  }
}
/* ************* Components ************ */

/* *** buttons *** */

.btn {
  padding: 1.125rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  outline: none;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: var(--font);
  position: relative;
  display: block;
  transition: transform 0.5s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  box-shadow: none;
  opacity: 0.8;
}

.headerLogo {
  transition: opacity 0.3s ease;
}

.headerLogo:hover {
  cursor: pointer;
  opacity: 0.75;
}

.primary {
  color: var(--second-color);
  background-color: var(--first-color);
  border: none;
}

.secundary {
  color: var(--second-color);
  background-color: var(--third-color);
  border: 1px solid var(--second-color);
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .btn {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.3rem;
  }
}

/* *** glass morphism*** */

.glass {
  background: var(--glass-backgroun-color);
  backdrop-filter: blur(1px);
  border: 1px solid var(--third-color-alpha);
  border-radius: 8px;
  padding: 1.125rem 2rem;
}

/* ** hero image ** */

.hero-image {
  width: 100%;
  min-height: 100vh;
  background-image: url("assets/img/welcomesvg.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: right;
  background-size: 120% auto;
  -moz-background-size: 120% auto;
  -webkit-background-size: 120% auto;
  -o-background-size: 120% auto;
  background-attachment: fixed;
}

.hero-opacity {
  background-color: var(--second-color-alpha);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.hero-image h1 {
  color: var(--first-color);
  display: inline;
  font-size: 2.3rem;
}

.hero-image h2 {
  color: var(--white-color);
  display: inline;
  font-size: 2.2rem;
}

.hero-image h3 {
  color: var(--white-color);
  display: inline;
  font-size: 1.7rem;
}

.hero-image hgroup {
  text-align: center;
}

.hero-btns-container {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .hero-image h1 {
    font-size: 3rem;
  }
  .hero-image h2 {
    font-size: 3rem;
  }

  .hero-image h3 {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero-image h1 {
    font-size: 5.2rem;
  }
  .hero-image h2 {
    font-size: 5rem;
  }

  .hero-image h3 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .hero-image h1,
  .hero-image h2 {
    font-size: 5rem;
  }

  .btn {
    font-size: 1.3rem;
  }

  .hero-image {
    background-size: contain;
  }

  .hero-opacity {
    align-items: flex-start;
  }

  .hero-content {
    margin-left: 2rem;
  }
}

/* *** input *** */
.form-element {
  display: block;
  background-color: var(--third-color-alpha);
  border: solid 2px var(--third-color);
  font-family: var(--font);
  color: var(--body-text-color);
  padding: 0.5rem;
}

.form-element::placeholder {
  font-family: var(--font);
  color: var(--grey-color);
  font-size: 16px;
}

/* *** menu *** */
.menu-btn {
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu {
  position: fixed;
  bottom: calc(var(--header-width) + 1rem);
  right: 1rem;
  background-color: var(--second-color);
  width: calc(100% - 2rem);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease;
}

.menu.is-active {
  opacity: 1;
  visibility: visible;
  max-width: 500px;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.menu li {
  text-align: center;
}

.menu a {
  display: block;
  font-size: 1.5rem;
  color: var(--first-color);
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.menu a:hover {
  color: var(--third-color);
  background-color: var(--first-color);
  opacity: 1;
}

@media screen and (min-width: 1050px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    opacity: 1;
    visibility: visible;
    max-width: fit-content;
  }

  .menu ul {
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }

  .menu a {
    display: inline;
    padding: 0 0 0 2rem;
    font-size: 1rem;
  }

  .menu.is-active {
    max-width: unset;
  }

  .menu a:hover {
    background-color: transparent;
  }
}

/* ****************** Utilities ******************* */
.shadow-1 {
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.5);
}

.border-radius-1 {
  border-radius: 8px;
}

.none {
  display: none;
}

.width-100 {
  width: 100%;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

/* ***************** Site style ****************** */
.header {
  position: fixed;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  z-index: 1000;
  height: var(--header-width);
  background-color: var(--second-color);
  padding: 0.5rem;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 0.5rem;
}

.headerLogo {
  height: 1.5rem;
}

@media screen and (min-width: 1050px) {
  .header {
    position: sticky;
    top: 0;
    border-radius: 0;
    height: 4rem;
  }
}

/* *** section titles *** */

.section {
  margin: 2rem 0.5rem 0 0.5rem;
}

.title h2 {
  text-align: center;
}

.title {
  max-width: 25rem;
  max-width: fit-content;
  padding: 0 3rem;
  margin: 0 auto 1.5rem auto;
  border-bottom: 4px solid var(--first-color);
}

@media screen and (min-width: 768px) {
  .section {
    margin: 6rem 0.5rem 0 0.5rem;
  }

  .title {
    margin-bottom: 3rem;
  }
}

/* *** projects section *** */

.projects-container {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  gap: 2rem;
  justify-content: center;
}

.projects-container article {
  height: 66vw;
  max-height: 792px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.projects-container aside {
  background-color: var(--second-color-alpha);
  height: 100%;
  border-radius: 8px;
  padding: 1rem;
  transition: all 0.5s ease;
}

.projects-container article:hover {
  transform: scale(1.02);
}

.projects-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--white-color);
  height: 100%;
  padding: 0.5rem;
  overflow-y: hidden;
}

.projects-container h3,
.projects-container p {
  color: var(--white-color);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .projects-container div {
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects-container article {
    height: 30vw;
    max-height: 360px;
  }
}

/* *** modal projects*** */
.slider {
  width: 100%;
  height: 80vh;
  position: relative;
}

.slides {
  position: relative;
  width: 100%;
  height: 80vh;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  transition: opacity 0.5s ease-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

/* ***skills section*** */

.skills .content > img {
  display: none;
}

.skills article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem 0.5rem 0 0.5rem;
  gap: 1.5rem 1rem;
  background-image: url("./assets/img/skillsBackground.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.skill figcaption {
  margin-top: 0.25rem;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
}

.skill div {
  height: fit-content;
  width: fit-content;
  background-color: var(--second-color);
  border-radius: 8px;
  margin: 0;
}

.skill img {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .skills article {
    gap: 1.5rem 2rem;
  }

  .skill figcaption {
    font-size: 1.7rem;
  }

  .skill img {
    padding: 1.5rem;
    width: 7.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .skills .content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .skills article {
    grid-template-columns: repeat(3, 1fr);
    justify-content: end;
    width: 50%;
    background-image: none;
    margin: 0;
    flex-shrink: 0;
  }

  .skills .content > img {
    display: block;
    width: 500px;
    flex-shrink: 1;
    flex-grow: 1;
  }
}

/* ***education section*** */

.education > article {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-items: center;
  justify-content: center;
  align-items: baseline;
}

.institute {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 2rem 1rem;
  justify-content: space-between;
  align-items: center;
}

.institute div {
  background-color: var(--second-color);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  padding: 0.75rem;
}

.institute figcaption {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .institute {
    margin: 0 1.5rem 2.5rem 1.5rem;
  }

  .institute div {
    width: 6rem;
    height: 6rem;
  }
}

/* *** about section*** */

.about article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  z-index: 2;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background-image: url(./assets/img/perfil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
}

.description {
  margin-top: -3rem;
  padding: 4rem 0.5rem 1rem 0.5rem;
}

.description h2,
.description h3 {
  font-weight: normal;
  text-align: center;
}

.description h3 {
  margin-bottom: 1rem;
}

.description {
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .description {
    margin: -3rem 20vw 0 20vw;
  }

  .description p {
    font-size: 1.4rem;
  }

  .profile-img {
    width: 10.5rem;
    height: 10.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .about article {
    flex-direction: row;
    justify-content: space-between;
  }

  .description {
    margin: 0;
    padding: 0.5rem;
  }

  .profile-img {
    padding: 8.5rem;
    margin-right: 3rem;
  }
}

/* *** contact section *** */
.form {
  display: block;
  margin: 0 1rem;
}

.input {
  height: 2rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  outline: none;
  max-width: 600px;
}

.textarea {
  height: 10rem;
  margin-bottom: 1rem;
  resize: none;
  max-width: 600px;
}

.contact p {
  text-align: justify;
  display: block;
}

label mark {
  background-color: transparent;
  color: red;
  font-weight: bold;
}

.contact > h2 {
  color: var(--first-color);
  margin-top: 1rem;
  text-align: center;
}

.contact h4 {
  color: var(--second-color);
  text-align: center;
  margin-bottom: 0.5rem;
}

.contact > img {
  z-index: 0;
  width: 100%;
  height: auto;
}

.form-error {
  display: none;
  margin: -1rem 0.5rem 0.5rem;
  color: red;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .contact p {
    font-size: 1.4rem;
  }

  .contact > h4 {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .contact .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form {
    margin-right: 0.5rem;
    flex-shrink: 0;
  }

  .contact .content > img {
    display: block;
    width: 500px;
    flex-shrink: 1;
    flex-grow: 1;
  }

  .form-element {
    width: 500px;
    outline: none;
  }

  .form-element:invalid {
    border-color: red;
  }

  .form-element:focus {
    border-color: var(--link-text-color);
  }

  .form-element:valid {
    border-color: green;
  }

  .form .btn {
    margin-left: 1rem;
  }
}

/* *** social media section *** */

.social-media {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.social-media figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.social-media figure:hover {
  transform: scale(1.05);
}

.social-media figcaption {
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .social-media {
    grid-template-columns: repeat(2, 1fr);
  }

  .social-media img {
    width: 9rem;
  }

  .social-media figcaption {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .social-media {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* *** footer *** */

.footer {
  background-color: var(--first-color);
  padding: 1rem 1rem 6rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer div {
  margin-top: 0.5rem;
  width: 5.5rem;
  height: 4rem;
  padding: 1rem;
  background-color: var(--second-color);
}

/* *** thanks card *** */

.thanks {
  display: none;
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.thanks-card {
  max-width: 800px;
  flex-grow: 1;
  background: rgba(252, 252, 252, 0.75);
  box-shadow: 1px 4px 15px 2px rgba(57, 57, 57, 0.25);
  backdrop-filter: blur(2px);
}

.thanks-card .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0.5rem;
}

.thanks-card h2 {
  color: var(--first-color);
}

.thanks-card h5 {
  color: var(--second-color);
  text-align: center;
  margin-top: 1rem;
}

.thanks-card > img {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.thanks-card > img:hover {
  opacity: 0.75;
}

@media screen and (min-width: 768px) {
  .thanks-card .content img {
    width: 20rem;
  }
}
