/* ********custom properties ************ */

:root {
  --first-color: #ff7c1f;
  --first-color-alpha: rgba(255, 124, 31, 0.75);
  --second-color: #0e3854;
  --second-color-alpha: rgba(14, 56, 84, 0.75);
  --third-color: #c1e6ff;
  --third-color-alpha: rgba(193, 230, 255, 0.75);
  --white-color: #ffffff;
  --grey-light-color: #bbbbbb;
  --grey-color: #808080;
  --grey-dark-color: #393939;
  --Black-color: #000000;
  --link-text-color: #067eed;
  --body-text-color: #282828;
  --title-text-color: #000000;
  --font: "Rubik", sans-serif;
  --max-width: 1200px;
  --header-width: 4rem;
}

/* *******Reset******** */
html {
  font-family: var(--font);
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--body-text-color);
}

a {
  color: var(--link-text-color);
  transition: all 0.3s ease-out;
}

a:hover {
  opacity: 0.75;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
  font-size: 2rem;
  color: var(--title-text-color);
}

h2 {
  margin: 0;
  color: var(--title-text-color);
  font-size: 1.5rem;
}

h3 {
  color: var(--title-text-color);
  margin: 0;
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
  margin: 0;
  color: var(--title-text-color);
}

h5 {
  margin: 0;
  color: var(--title-text-color);
  font-size: 0.813rem;
}

h6 {
  margin: 0;
  font-size: 0.688rem;
  color: var(--title-text-color);
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* *****Components***** */
.menu-btn {
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.menu {
  position: fixed;
  bottom: calc(var(--header-width) + 1rem);
  right: 1rem;
  background-color: var(--second-color);
  width: calc(100% - 2rem);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5 ease;
}

.menu.is-active {
  opacity: 1;
  visibility: visible;
}

/* *********Utilities********* */
.shadow-1 {
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.5);
}

.border-radius-1 {
  border-radius: 8px;
}

.none {
  display: none;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.menu li {
  width: 100%;
  text-align: center;
}

.menu a {
  display: block;
  font-size: 1.5rem;
  color: var(--first-color);
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

.menu a:hover {
  color: var(--third-color);
  background-color: var(--first-color);
  opacity: 1;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

/* ***** Site style ***** */
.header {
  position: fixed;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  z-index: 1000;
  height: var(--header-width);
  background-color: var(--second-color);
  padding: 1rem;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  height: 1.5rem;
}
